@using Inventory_Management_System__Miracle_Shop_.ViewModel
@model MoveProductViewModel

<form asp-action="MoveProduct" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Product.ProductID" />
    <div class="form-group">
        <label for="destinationFolderId">Select Destination Folder</label>
        <select id="destinationFolderId" name="destinationFolderId" class="form-control" required>
            <option value="">-- Select Folder --</option>
            @foreach (var folder in Model.Folders)
            {
                <option value="@folder.FolderID">@folder.FolderName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Move</button>
</form>
